/*Grises*/
$white:#FFF;
$platinum:#E6E7E7;
$lightGray:#D1D1D1;

/*Rojos*/

$fuzzyWuzzy: #E56353;
$rudyPink:#D76C69;
$spanishPink:#ECBCBA;

/*Negros*/

$eerieBlack: #121619;
$raisinBlack:#222323;
$nickel: #6C6E70;

