@charset "UTF-8";
/*Grises*/
/*Rojos*/
/*Negros*/
/*Esto resetea el body*/
body {
  margin: 0;
}

/*Esto evita que las imagenes excedan el ancho de la pantalla*/
img {
  max-width: 100%;
}

/*Fuente*/
/*Font weight*/
/*Font sizes*/
/*Párrafos*/
.cuerpo__parrafo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 50px !important;
  line-height: 40px;
}

.fecha__parrafo {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 30px;
  color: #121619;
  opacity: 70%;
}

.pag__tamaño-sm {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.pag__tamaño-md {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.destacado {
  color: #D76C69;
}

.mi__logo {
  width: 100px;
  height: auto;
}

.mi__navigation {
  background-color: #121619;
}

nav .navbar-a {
  color: #FFF;
}
nav :hover {
  color: #D76C69;
}
nav :focus {
  color: red;
}

.active__color {
  color: blue !important;
}

header {
  color: #FFF;
  /*width: 100vw;*/
  height: 100vh;
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
header i {
  font-size: 50px;
  margin-top: 100px;
  position: relative;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  /*font-size: $font-size-xx-large;*/
  color: #FFF;
  filter: text-shadow(5px 3 3.5 rgba(0, 0, 0, 0.18));
  width: 55%;
  margin: auto;
}
@media (max-width: 767.98px) {
  header h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 70px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121619;
  height: 200px;
}
footer img {
  width: 120px;
}

.author {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  border-top: 1px solid #E6E7E7;
  border-bottom: 1px solid #E6E7E7;
}

.about__titulo {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  color: #121619;
  display: inline-block;
}
.about__rrss {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 15px;
  color: #D76C69 !important;
}
.about__rrss :hover {
  color: #121619;
}
.about__foto {
  width: 11.25rem;
  border-radius: 150px;
}
@media (max-width: 767.98px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .about__desc {
    display: none;
  }
  .about__foto {
    border-radius: 150px;
    width: 8.3125rem;
  }
}

/*
.articulo__autor {
    padding: 60px 0;
    &-retrato {
        text-align: center;
    }
    &-info {
        text-align: center;
    }
    &-retrato__imagen {
        border-radius: 100%;
        width: 130px;
        height: auto;
    }
    &-link {
        display: block;
        text-decoration: none;
        color: $rudyPink;
        font-size: 1.25rem;
        //Para que quede uno al lado del otro//
         :hover {
            text-decoration: none;
        }
    }
}

.articulo__autor {
    &-titulo {
        @include playfair__bold;
        text-align: left!important;
        color: $eerieBlack;
    }
}

}

@media (min-width:768px) {
    .articulo__autor-retrato__imaagen {
        width: 180px;
    }
    .articulo__autor-info {
        text-align: left;
        padding-top: 50px;
    }
    .articulo__autor-descripcion-texto {
        padding-top: 70px;
    }
}

.article {
    margin-bottom: 58px;
}

.author {
    margin-top: 58px;
}
*/
.btn__redes {
  background-color: #6C6E70;
  color: #FFF;
  border-radius: 2rem;
}
.btn__redes:hover {
  background-color: #D1D1D1;
  border: 1px solid #D1D1D1;
  color: #FFF;
}
.btn__redes:focus {
  background-color: #6C6E70 !important;
  border: 1px solid #D1D1D1 !important;
  color: #FFF !important;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135px;
  background-color: #E6E7E7;
}

.pag {
  border: 1px solid #D1D1D1 !important;
  background-color: #FFF !important;
}
.pag-ant {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
  color: #6C6E70 !important;
}
.pag-sig {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  color: #6C6E70 !important;
}
.pag-num {
  color: #6C6E70 !important;
}
.pag-active {
  color: #FFF !important;
  background-color: #6C6E70;
}

/*# sourceMappingURL=style.css.map */
